body{
	margin: 0 auto;
	background-image: url("../imagenes/Background3.png");
	background-repeat: repeat;
	background-size: 150% 1250px;
}

img{
    display: block;
    margin: auto;
    backface-visibility: hidden;
}

h1{
    align-content: center;
    font: "Arial";
    font-size: 40px;
    color: antiquewhite;
    text-align: center;
}

li{
    align-content: center;
    font: "Arial";
    font: 20px;
    margin-left: 230px;
    margin-right: 230px;
    color: antiquewhite;
    text-align: center;
}

h2{
    align-content: center;
    font: "Arial";
    font: 40px;
    color: antiquewhite;
    text-align: center;
}

p{
    align-content: center;
    font: "Arial";
    font: 25px;
    margin-left: 230px;
    margin-right: 230px;
    color: antiquewhite;
    text-align: center;
}

h3{
    align-content: center;
    font: "Arial";
    font: 40px;
    color: antiquewhite;
    text-align: center;
}
section{
    width: 50px;
    height: 90px;
    margin-left: 47%;
}

header{
    width: 100%;
    height: 60px;
    background-color: #0B0B61;
    color:white;
}