html{
	padding: 0px;
	margin: 0px;
}
body{
	background-color: #E0F8F7;
	padding: 0px;
	margin: 0px;
	font-family: "Arial";
}
header{
	width: 100%;
	height: 60px;
	background-color: #0B0B61;
	color:white;
}
header h1{
	margin-left: 10%;
	width: 30%;
	display: inline-block;
	vertical-align: top;
	width: 50px;
	margin-left: 0;
	display: inline-block;
	vertical-align: top;
}
header a img{
	width: 100%;
}
section{
	background-color: white;
	padding: 65px 80px 65px 80px;
	margin: 10px 250px 20px 250px;
	border: 1px solid #DDD;
	border-radius: 15px;
	box-shadow: -3px 1px 3px 1px rgba(0,0,0,0.24);
}
#marca {
	font-size: 15px;	
}
#nombre {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 40px;
	text-shadow: -3	px 2px lightgray;
} 
#desc {
	font-weight: bold;
}
#cat {
    padding: 9.5px;
    margin: 0 0 10px;
    font-family: "Courier New", Courier, monospace;
    font-size: 20px;
    line-height: 1.42857143;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
}
#img {
	box-shadow: -3px 1px 3px 1px rgba(0,0,0,0.24);
	width: 450px;
	height: 300px;
	margin:0 auto;
	border: 2px solid;
}
#carro {
	text-decoration: none;
	color: blue;
	padding: 10px;
	font-size: 20px;
	text-transform: uppercase;
	border: 2px solid blue;
	border-radius: 14px;
	background-color: lightblue;
}
#carro:hover {
	background-color: #08088A;
	color: white;
	border-bottom: 1px solid blue;
	border-right: 1px solid blue;
	border-left: 1px solid blue;
}
#carro:active {
	background-color: #0A0A2A;
	border-bottom: 1px solid #0B0B61;
	border-right: 1px solid #0B0B61;}