
body{
	background-color: #E0F8F7;
	padding: 0px;
	margin: 0px;
}
header{
	width: 100%;
	height: 60px;
	background-color: #0B0B61;
	color:white;
}

header a{
	width: 50px;
	margin-left: none;
	display: inline-block;
	float: left;
	
}
header a img{
	width: 100%;
}
p {
	font-family: 'Times New Roman', Times, serif;
}
li {
	display: inline;
}
section{
	background-color: #FFF;
	width: 80%;
	border: 1px solid #DDD;
	border-radius: 14px;
	padding: 2%;
	margin: 10px 150px 10px 150px;	
	box-shadow: -3px 1px 3px 1px rgba(0,0,0,0.24);
}
#comprar {
	background-color: #08088A;
	border: 1px solid;
	color: #fff;
	text-decoration: none;
	padding: 10px;
	border-radius: 15px;
	box-shadow: -3px 1px 3px 1px rgba(0,0,0,0.24);
}
#marca {
	font-family: 'Arial';
	font-size: 15px;	
}

#prod {
	font-family: 'Times New Roman', Times, serif;
	font-size: 20px;
	text-transform: capitalize;
}
.producto{
	width: 23%;
	height: 220px;
	background-color: #fafafa;
	border:1px solid gray;
	border-radius: 14px;
	display: inline-block;
	vertical-align: top;
	margin-left: 1%;
	margin-top: 1%;
	box-shadow: -3px 1px 3px 1px rgba(0,0,0,0.24);
}
.producto img{
	width: 125px;
	height: 125px;
	margin:0 auto;
}

.productos{
	width: 23%;
	height: 300px;
	background-color: #fafafa;
	border:1px solid gray;
	border-radius: 14px;
	display: inline-block;
	vertical-align: top;
	margin-left: 1%;
	margin-top: 1%;
	box-shadow: -3px 1px 3px 1px rgba(0,0,0,0.24);
}
.productos img{
	width: 125px;
	height: 125px;
	margin:0 auto;
}

.productos span {
	text-transform: capitalize;

}
#categorias {
	border-radius: 14px;
	width: 100%;	
}
#aceptar {
	padding: 10px 20px;
	font-size: 12px;
	cursor: pointer;
	text-align: center;
	color: #FFF;
	background-color: #08088A;
	border-radius: 15px;
}
#aceptar:hover {
	background-color: #0101DF;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 10px 30px 0 rgba(0,0,0,0.19);
}
#aceptar:active {
	background-color: #0B0B61;
}