.card {
	border-radius: 10px;
	margin-top: 20px;
	background: linear-gradient(to left, rgb(250, 148, 53), rgb(250, 148, 53));
	font-family: inherit;
}

.card-img-top {
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}

.card-body_ {
	padding-left: 30px;
	padding-right: 10px;
	background-color: aliceblue;
}
#imagenefecto{
	margin-left: -20px;
	margin-top: -5px;
}
.contenedor{
	margin-bottom: 50;
	display: inherit;
    justify-content: inherit;
    height: inherit;
    align-items: inherit;
    max-width: 1000px;
    flex: 1;
    margin: 0 auto;
    flex-wrap: inherit;
}
