.registro {
    background-color: transparent;
    width: 100%;
}

.subBody {
    position: absolute;
    top: 170px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.contenedor_total {
    position: relative
}

.body_ {
    font: 400 14px/24px "Roboto", sans-serif;
}

.keren {
    position: relative;
    top: 400px;
}
.keren2 {
    position: relative;
    top: 400px;
}

.subsubbody {
    max-width: 1352px;
    width: 100%;
    top: 625px;
}

.subsubbody3 {
    max-width: 1352px;
    width: 100%;
    position: absolute;
    top: 625px;
}

.subsubbody2 {
    max-width: 1352px;
    width: 100%;
}

.box_content_center {
    padding: 80px 112px;
}

#imagenefect {
    margin-top: 500px;
    width: 100%;
}

.box {
    background: #fff;
    border-radius: 8px;
    border: 1px solid #eceff1;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .3), 0 1px 3px 1px rgba(60, 64, 67, .15);
    margin: 0 auto 20px;
    overflow: hidden;
    margin-right: 85px;
    margin-left: 85px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    padding-bottom: 25px;
    margin-bottom: 48px;
}