@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
.navbar {
    background-color: #02a8a8;
    height: 80px;
}

.Nav-link {
    color: #000000;
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-size: 16px;
    line-height: 16px;
    padding: 15px 10px 30px 15px;
    font-weight: normal;
    letter-spacing: 0.09em;
}

#navbarDropdown {
    color: #000000;
    font-family: inherit;
    font-size: 16px;
    line-height: 16px;
    font-weight: normal;
    letter-spacing: 0.09em;
}

#boton-buscar {
    font-family: inherit;
    font-weight: bold;
    text-transform: uppercase;
    outline: 15px;
    background: #ffbd69;
    border: 0;
    padding: 10px;
    font-size: 10px;
    transition: all 0.3 ease;
    position: relative;
}

.boxes button:nth-of-type(1) {
    right: 75%;
}