@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
.navbar {
    background-color: rgb(31, 214, 214);
    height: 80px;
}

.Nav-link {
    color: #000000;
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-size: 16px;
    line-height: 16px;
    padding: 15px 10px 30px 15px;
    font-weight: normal;
    letter-spacing: 0.09em;
}

#navbarDropdown {
    color: #000000;
    font-family: inherit;
    font-size: 16px;
    line-height: 16px;
    font-weight: normal;
    letter-spacing: 0.09em;
}

#boton-buscar_ {
    font-family: inherit;
    font-weight: bold;
    text-transform: uppercase;
    outline: 15px;   
    border: 0;
    padding: 10px;
    font-size: 10px;
    transition: all 0.3 ease;
    position: relative;
}
#boton-buscar{
    font-size: .875rem;
    line-height: 2.25rem;
    height: 2.5rem;
    padding-right: 1.25rem;
    padding-left: 1.25rem;
    cursor: pointer;
    letter-spacing: .3px;
    
    border: none;
    border-radius: 20px;
    outline: none;
    background: #ffbd69;
}

.boxes button:nth-of-type(1) {
    right: 75%;
}
.navbar navbar-expand-lg{
    position: fixed;
}
#imagenefecto{
    width: 101.5%;
}